
#container{ border: 2px;
  width: 100%;
  margin-right: 0%;
  margin-left: 0%;
}
#topnav{
  display: flex;
  gap:1%;
  text-decoration: none;
background-color: rgb(5, 148, 41);
}
#top{
  display: flex;
  gap: 5%;

}
#column1{
  margin-left: 50%;
  display: flex;
  gap: 10%;
}
#nav2{
  display: flex;
  gap: 5%;
  margin-left: 700px;
}
#pics{
 display: flex;
 gap: 5%;
 margin-left: 300px;
}


#pics1{
  margin-left: 1300px;
}
#pics2{
  display: flex;
  gap:10% ;

}
#cap{
  display: flex;
  gap: 5%;
}
#text{
font-size: 40px;
margin-top: 10%;
}
#first{margin-top: 10%;
  
}
/* .glass{
  margin-right: 70%;
} */
 #shelf1{
  display: flex; 
  gap: 20%;
  margin-top: 10%;
 } 
 #shirt{
  display: flex;
  gap: 40%;
 }
 #load{
  margin-left: 900px;
 }
#hat{
  margin-top: 17%;
  margin-left: 3%;
}
#glass{
  margin-top: 17%;
}
#column2{
  display: flex;
  gap: 5%;
  margin-left: 300px;
  margin-top: 10%;
}
#column3{
display: flex;
gap: 5%;
margin-top: 10%;
}
.texts{
  font-size: 30px;
  margin-top: 10%;
  margin-left: 10%;
}
#h1{
  text-align: center;
  margin-top: 4%;
}
#column4{
display: flex;
gap: 5%;
margin-left: 300px;
margin-top: 3%;
}
.bb{
  margin-top: 80%;
}
.sneak{
  margin-top: 24%;
}
#h2{
  text-align: center;
  margin-top: 6%;
}
#column5{
  display: flex;
  gap: 3%;
  margin-left: 13%;
  margin-top: 2%;
}
#footer{
  display: flex;
  gap: 10%;
  margin-top: 10%;
  margin-left: 15%;
}
.button{
  background-color: rgb(2, 24, 46);
  color:aliceblue ;
}
#last{
  display: flex;
  margin-top: 4%;

}
#logos{
  margin-left: 900px;
}
.hb{
  
}